data-static/synonyms.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

def = element def {
  text
}

form = element form {
  text
}

note = element note { 
  text,
  attribute when {text}?,
  attribute resp {text}?,
  attribute source {text}?
}

sense = element sense {
  def?, (note)*, form+,
  attribute xml:id { xsd:ID }
}

start = element synonyms {
  sense+
}
